<div class="form-container">
    <div class="action-bar">
        <button
            [disabled]="contactForm.status === 'INVALID'"
            (click)="onSubmit()"
            mat-raised-button
            color="primary">
            Save
        </button>
        <button
            *ngIf="data.action === 'edit'"
            (click)="delete()"
            class="delete"
            mat-raised-button
            color="primary">
            Delete
        </button>
    </div>
    <form [formGroup]="contactForm">
        <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input
                matInput
                formControlName="firstName">
            <mat-error *ngIf="contactForm.controls.firstName.touched && contactForm.controls.firstName.invalid">
                <span *ngIf="contactForm.controls.firstName.errors.required">First Name is required.</span>
                <span *ngIf="contactForm.controls.firstName.errors.onlyLetters">Only letters are allowed</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input
                matInput
                formControlName="lastName">
            <mat-error *ngIf="contactForm.controls.lastName.touched && contactForm.controls.lastName.invalid">
                <span *ngIf="contactForm.controls.lastName.errors.required">Last Name is required.</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input
                matInput
                formControlName="phoneNumber">
            <mat-error *ngIf="contactForm.controls.phoneNumber.touched && contactForm.controls.phoneNumber.invalid">
                <span *ngIf="contactForm.controls.phoneNumber.errors.required">Phone Number is required.</span>
                <span *ngIf="contactForm.controls.phoneNumber.errors.phoneNumber">Phone Number has incorrect format</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
                matInput
                formControlName="email">
            <mat-error *ngIf="contactForm.controls.email.touched && contactForm.controls.email.invalid">
                <span *ngIf="contactForm.controls.email.errors.required">Email is required.</span>
                <span *ngIf="contactForm.controls.email.errors.email">
                    Email has incorrect format. (x@y.zw would be a correct format)
                </span>
            </mat-error>
        </mat-form-field>
    </form>
</div>
