@import 'variables';

.topbar-container {
    display: flex;

    .l-topbar {
        display: flex;
        align-items: center;

        img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
    }

}

.r-topbar {
    margin-right: 0;
    margin-left: auto;
    cursor: pointer;
}

mat-toolbar {
    height: 65px;
    border-bottom: 1px solid $stw-grey;
}
